@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1.5;
	letter-spacing: .05em;
	font-family: adobe-caslon-pro, 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	width:100%;
    position:relative;
    color: #333;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

h2 {
	font-family: adobe-caslon-pro, serif;
	text-align: center;
}

nav ul {
	list-style:none;
}

li {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration: none;
	font-family: adobe-caslon-pro;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

input, select {
	vertical-align:middle;
}

img {
	display:block;
	max-width:100%;
	height: auto;
}

/* 共通部分 */
html {
	scroll-behavior:smooth;
	font-size:18px;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

h2 {
	position: relative;
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

h2:after {
	content: "";
	display: block;
    position: absolute;
    left: calc(50% - 1.6rem);
    bottom: 0;
    width: 3.2rem;
    border-top: 2px solid #333;
}

.theme {
	text-align: center;
	margin-bottom: 50px;
}

/* ヘッダー */
.header {
	position: fixed;
	left: 0;
	top: -100px;
	width: 100%;
	height: 100px;
	z-index: 100;
	background-color: #BCCAE5;
	opacity: .9;
	padding: 0 48px;
	transition: transform .5s;
	box-shadow: 0 5px 5px #BCCAE5;
}

.header .inner {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* ハンバーガーメニュー */
.sponly {
	display: none;
}

.header .inner #spnavibtn {
    display: block;
    width: 60px;
    height: 60px;
    position: relative;
}

.header .inner ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.header .inner ul li {
	padding: .5rem 1rem;
}

.header .inner .nav ul li a {
	display: block;
	position: relative;
	color: #fff;
	text-shadow: 3px 3px 5px #333;
}

.header .inner .nav ul li a:after {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - .8rem);
    bottom: 0;
    width: 1.6rem;
    border-top: 2px solid #fff;
    transition: .3s;
    opacity: 0;
}

.header .inner .nav ul li a.on:after,
.header .inner .nav ul li a:hover:after {
    bottom: -.5rem;
    opacity: 1;
}

header .inner #spnavibtn .bar1,
header .inner #spnavibtn .bar2 {
    display: block;
    position: absolute;
    left: 25%;
    width: 50%;
    border-top: 2px solid #fff;
    transition: .3s;
}

header .inner #spnavibtn .bar1 {
    top: calc(38% - 1px);
}

header .inner #spnavibtn .bar2 {
    top: calc(62% - 1px);
}

/* ヘッダータイトル */
.header h1 a {
	color: #333;
	font-size: 1.5rem;
	font-family: adobe-caslon-pro, serif;
	opacity: 1;
	transition: all .3s;
	text-shadow:
    #fff 1px 1px 10px, #fff -1px 1px 10px,
    #fff 1px -1px 10px, #fff -1px -1px 10px,
    #fff 1px 1px 10px, #fff -1px 1px 10px,
    #fff 1px -1px 10px, #fff -1px -1px 10px,
    #fff 1px 1px 10px, #fff -1px 1px 10px,
    #fff 1px -1px 10px, #fff -1px -1px 10px,
    #fff 1px 1px 10px, #fff -1px 1px 10px,
    #fff 1px -1px 10px, #fff -1px -1px 10px,
    #fff 1px 1px 10px, #fff -1px 1px 10px,
    #fff 1px -1px 10px, #fff -1px -1px 10px;
}

.header h1 a:hover {
	opacity: .5;
}

/* キービジュアル */
.kv {
	height: 100vh;
	width: 100%;
	background-image: url(../images/bg1-min.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 5px 0 5px #BCCAE5;
}

.kv img {
	transition: all .5s;
}

.kv__inner {
	position: relative;
	width: 100%;
	height: 100%;
}

.kv__inner .title {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10%;
}

.kv__inner .scroll {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateY(-50%);
}

.scroll {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 50px;
    left: 50%;
    margin: 0 0 0 -40px;
    z-index: 100;
}

.scroll:after {
    border-top: 3px solid #333;
    border-right: 3px solid #333;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    transform: rotate(135deg);
    position: absolute;
    top: 0;
    left: 50%;
}

/* about */
.about {
	width: 100%;
	height: auto;
	position: relative;
	padding: 50px 100px 100px 0;
	background-image: url(../images/bg2-min.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color:rgba(219,222,241,.5);
	background-blend-mode:lighten;
}

.about .profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 1rem;
	z-index: 1;
}

.profile .profile__name {
	text-shadow: 5px 5px 5px #fff;
}

.about .profile_image {
	width: 50%;
}

.about img {
	width: 70%;
	height: auto;
	border-radius: 50%;
	box-shadow: 0 0 20px #fff;
	margin:0 auto;
}

.profile__name {
	width: 100%;
	margin: 0 auto;
}

.profile__name p {
	width: 70%;
	margin: 2rem auto;
	text-align: center;
	font-size: 2rem;
	border-bottom: 1px solid #333;
}

.about .profile__sentence {
	width: 50%;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 5px #DFE6F3;
	border-radius: 10px;
	padding: 20px;
} 

.about .profile__detail p {
	padding-bottom: 1rem;
}

/* skill */
.skill {
	width: 100%;
	height: auto;
	padding: 50px 100px 100px 50px;
	background-color: #212A3B;
	color: #fff;
}

.skill ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.skill ul li {
	width: calc(100%/3);
	margin-bottom: 20px;
	text-align: center;
}

.skill-list .fab {
	transition: all .3s;
}

.skill-list .fa-html5.is-active,
.skill-list .fa-html5:hover {
	color: #E44D26;
}

.skill-list .fa-css3-alt.is-active,
.skill-list .fa-css3-alt:hover {
	color: #379AD6;
}

.skill-list .fa-js.is-active,
.skill-list .fa-js:hover {
	color: #F0DB4F;
}

.skill-list .fa-wordpress.is-active,
.skill-list .fa-wordpress:hover {
	color: #0073AA;
}

.skill-list .fa-github.is-active,
.skill-list .fa-github:hover {
	color: #333;
}

.skill-list .fa-php.is-active,
.skill-list .fa-php:hover {
	color: #787CB4;
}

.skill ul p {
	text-align: center;
}

/* work */
.work {
	width: 100%;
	height: auto;
	padding: 50px 100px 100px 0;
	position: relative;
}

.work-contents {
	padding: 0 50px;
}

.work-item {
	width: 100%;
	margin: 50px 0 100px;
	position: relative;
}

.work-img {
	width: calc(70% - 10px);
}

.work-img img {
	transition: all .5s;
}

.work-img img:hover {
	transform: translateY(-10px);
	box-shadow: 0 10px 10px #333;
}
.work-sentence {
	width: calc(30% - 10px);
	margin-bottom: 10px;
	background-color: rgba(255,255,255,.5);
}
.work-sentence i {
	margin-right: .5em;
}

.work-sentence h3 {
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.work-sentence h3,
.work-sentence p {
	text-align: center;

}

.work .layout-left {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work .layout-right {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work .ninja a {
	color: #1da1f2;
}

/* contact */
.contact {
	max-width: none;
	width: 100%;
	height: auto;
	padding: 50px 100px 100px 0;
	margin: 0 auto;
	background-image: url(../images/bg_contact-min.jpg);
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	text-align: center;
	box-shadow: 0 -5px 5px #f3f3f3;
}

.contact h3 {
	text-shadow: 5px 5px 5px #fff;
	margin-bottom: .5rem;
}

form {
	display: block;
}

.contact input,
.contact textarea {
	width: 600px;
	padding: 10px;
	box-shadow: 0 5px 12px rgba(128,128,128,.141176);
	border-radius: 10px;
}

.contact-name {
	margin: 1rem 2rem;
}

.contact-mail {
	margin: 1rem 2rem;
}

.contact-message {
	margin: 1rem 2rem;
}

.contact textarea {
	height: 200px;
}
button {
    background-color: #FFF;
    color: #333;
    font-family: 'sans serif';
    outline: none;
    border: none;
	border-radius: 5px;
	border: 1px solid;
    padding: 10px 0;
    display: block;
    font-size: 1rem;
    width: 20%;
    font-weight: bold;
	cursor: pointer;
	transition: .3s;
	margin: 0 auto;
}

button:hover {
	color: #fff;
	background-color: #333;
	transition: .3s;
}

/* フッター */
.footer {
    position: fixed;
    right: -100px;
    top: 100px;
    width: 100px;
    height: calc(100vh - 100px);
	background-color: #BCCAE5;
	box-shadow: -5px 0 5px #BCCAE5;
	opacity: .5;
	transition: transform .5s;
}

.footer .inner a {
	display: block;
	margin: 1rem auto;
	transition: all .5s;
}

.footer .inner a:hover .fab {
	color: #fff;
	transition: all .7s;
}

.footer .inner a .my-gray {
	color: #4B4B4B;
}

.footer .copyright {
	position:absolute;
	font-size: .8rem;
	left: 80%;
	bottom:0;
	transform-origin:left bottom;
	transform:rotate(-90deg);
	white-space:nowrap;
	padding-left:1rem;
	padding-bottom: 1rem;
	color: #333;
}

/*================ トップへ戻るボタン ================*/
.pagetop {
	position: relative;
	width: 150px;
	height: 150px;
    position: fixed;
    bottom: -150px;
    right: 25vw;
	z-index: 1;
	transition: transform .3s;
}

.pagetop a {
	width: 100%;
	height: 100%;
	display: block;
	opacity: .5;
	background-image: url(../images/cat_hand1.png);
	background-size: cover;
	background-repeat: no-repeat;
	transition-timing-function:ease-out;	
	transition-duration:.3s;
}

.pagetop a:hover {
	position: absolute;
	opacity: 1;
	transform: translateY(-30px);
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
	.sponly {
		display: block;
	}

	.header {
		padding: 0;
	}

	.header h1 a {
		font-size: 1rem;
	}
	.header .inner {
		padding: 0 1rem;
		position: relative;
	}
	
	.header .inner .nav {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: 0;
		background-color: rgba(0,0,0,0.9);
		overflow: hidden;
		transition: .3s;
		opacity: 0;
		z-index: 1;
	}

	header .inner .nav.on {
		height: calc(100vh - 100px);
		opacity: 1;
	}

	header .inner #spnavibtn.on .bar1 {
		top: calc(50% - 1px);
		transform: rotate(135deg);
	}

	header .inner #spnavibtn.on .bar2 {
		top: calc(50% - 1px);
		transform: rotate(-135deg);
	}

	.header .inner .nav ul {
		padding: 2rem 0;
	}

	.header .inner .nav ul li {
		width: 100%;
		text-align: center;
		padding: 1rem 1rem;
	}

	/* kv */
	.kv {
		background-position: left 40% center;
	}
	
	/* about */
	.about {
		padding: 50px 0 100px;
		background-position: center bottom 10%;
	}

	.about .profile {
		display: block;
	}

	.about .profile_image {
		width: 100%;
	}

	.about .profile img {
		max-width: 50%;
		height: auto;
		margin: 0 auto;
	}
	.about .profile__sentence {
		width: 100%;
	}
	/* skill */
	.skill {
		padding: 50px 1rem 100px;
	}

	.skill ul li {
		width: 50%;
	}

	.skill ul li i.fa-8x {
		font-size: 15vw;
	}

	/* work */
	.work {
		padding: 50px 0 100px;
	}

	.work-contents {
		padding: 0 1rem;
	}
	.work-sentence {
		width: 100%;
	}

	.work-img {
		width: 100%;
	}

	.work .layout-left,
	.work .layout-right {
		flex-direction: column;
	}

	/* contact */
	.contact {
		padding: 50px 0 100px;
		background-position: right 30% bottom;
	}

	.contact input,
	.contact textarea {
		width: 90%;
	}

	/* footer */
	.footer {
		position: relative;
    	top: auto;
    	right: auto;
    	width: auto;
   		height: auto;
		background-color: #212A3B;
		opacity: 1;
		box-shadow: none;
	}

	.footer .inner {
		display: flex;
		justify-content: space-evenly;
		/* align-items: center; */
	}

	.footer .inner a {
		display: block;
		margin-top: 1rem;
		transition: all .5s;
	}

	.footer .inner a:hover .fab {
		color: #fff;
		transition: all .7s;
	}

	.footer .inner a .my-gray {
		color: #fff;
		font-size: 2.5em;
	}

	.footer .inner a img {
		margin: 0 auto;
		max-width: 80%;
	}

	.footer .copyright {
    	position: relative;
    	left: auto;
    	bottom: auto;
    	transform: rotate(0deg);
    	text-align: center;
    	padding: 1rem 0 1.5rem;
		font-size: 1rem;
		color: #BCCAE5;
	}
	.pagetop {
		right: 0;
	}

	.pagetop a {
		pointer-events: none;
	}
	
}